<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First item</td>
      <td>{{link-to 'Link' 'files.edit.tickets.edit'}}</td>
    </tr>
    <tr>
      <td>Second item</td>
      <td>{{link-to 'Link' 'files.edit.tickets.edit'}}</td>
    </tr>
    <tr>
      <td>Third item</td>
      <td>{{link-to 'Link' 'files.edit.tickets.edit'}}</td>
    </tr>
  </tbody>
</table>
{{outlet}}
