<nav class="navbar navbar-default">
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active">{{link-to 'Files' 'files'}}</li>
    </ul>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>